PORT=
NODE_ENV=
MONGODB_URI=
JWT_SECRET=
CLIENT_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
ROUTING_API_KEY=
SEED_DRIVER_EMAIL=
SEED_DRIVER_PASSWORD=
SEED_DRIVER_NAME=
SEED_DRIVER_PHONE=
